<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="manifest" />

    <title>Restaurant Apps Starter Project</title>
    <meta name="description" content="Restaurant Apps" />
  </head>
  <body class="container">
    <a href="#content" class="skip-link">Skip To Content</a>

    <nav>
      <a href="#/" id="logo">Back Food</a>

      <ul class="menu">
        <li>
          <a href="#/" class="nav-link">Home</a>
        </li>
        <li>
          <a href="#/favorites" class="nav-link">Favorite</a>
        </li>
        <li>
          <a
            href="https://www.fahmiidris.dev"
            class="nav-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            About Us
          </a>
        </li>
      </ul>

      <button type="button" id="hamburger" aria-label="Hamburger Button">
        ☰
      </button>
    </nav>

    <main id="content"></main>

    <footer>Copyright © 2020 - Back Food Apps</footer>
  </body>
</html>
